<div class="item tweet-box-wrapper">
  <div class="img-preview">
    <%= image_tag dry.image %>
  </div>
  <div class="tweet-description-wrapper">
      <p class="tweet-description-subheader">乾燥肌</p>
    <p class="tweet-description-header"><%= dry.title %></p>
    <p class="tweet-description-info"><%= dry.explanation %></p>
  </div>
</div>