<div class="item tweet-box-wrapper">
  <div class="img-preview">
    <%= image_tag nikibi.image %>
  </div>
  <div class="tweet-description-wrapper">
    <p class="tweet-description-subheader">ニキビ肌</p>
    <p class="tweet-description-header"><%= nikibi.title %></p>
    <p class="tweet-description-info"><%= nikibi.explanation %></p>
  </div>
</div>