<div class="item tweet-box-wrapper">
  <div class="img-preview">
    <%= image_tag oily.image %>
  </div>
  <div class="tweet-description-wrapper">
    <%= link_to "もっと見る", item_path(oily.id), class:"tweet-description-subheader" %>
    <p class="tweet-description-header"><%= oily.title %></p>
    <p class="tweet-description-info"><%= oily.explanation %></p>
  </div>
</div>
