<div class="item tweet-box-wrapper">
  <div class="img-preview">
    <%= image_tag rankup.image %>
  </div>
  <div class="tweet-description-wrapper">
    <p class="tweet-description-subheader">OneRankUp</p>
    <p class="tweet-description-header"><%= rankup.title %></p>
    <p class="tweet-description-info"><%= rankup.explanation %></p>
  </div>
</div>