<div class="item tweet-box-wrapper">
  <div class="img-preview">
    <%= image_tag rankup.image %>
  </div>
  <div class="tweet-description-wrapper">
    <%= link_to "もっと見る", item_path(rankup.id), class:"tweet-description-subheader" %>
    <p class="tweet-description-header"><%= rankup.title %></p>
    <p class="tweet-description-info"><%= rankup.explanation %></p>
  </div>
</div>