<div class="top-wrapper">
  <div class="container">
    <h1>オトコだって肌には気を遣いたい</h1>
    <h1>そんなオトコたちのための情報サイト</h1>
    <div class="sub-title">
      <p>オトコにはオトコのための化粧品がたくさんあるから</p>
      <p>同じような悩みを持った人同士で共有しよう！</p>
    </div>

    <div class="btn-wrapper">
      <%= link_to "新規登録はこちら", '#', class:"btn sign-up" %>
    </div>
  </div>
</div>

<div class="ad-block">
  <div class="block">
  広告バナー
  </div>
</div>

<div class="show-tweet">
  <div class="middle-text">
    <h1>早速みんなのオススメを見に行こう！</h1>
  </div>
  <img src="/images/scroll.png" class="scroll" width=300px height=300px >
</div>

<div class="new-contents">

</div>